<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ShangjiaxinxiMapper">
  <resultMap id="BaseResultMap" type="com.entity.Shangjiaxinxi">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="shangjiahao" jdbcType="VARCHAR" property="shangjiahao" />    <result column="mima" jdbcType="VARCHAR" property="mima" />    <result column="xingming" jdbcType="VARCHAR" property="xingming" />    <result column="xingbie" jdbcType="VARCHAR" property="xingbie" />    <result column="nianling" jdbcType="VARCHAR" property="nianling" />    <result column="lianxifangshi" jdbcType="VARCHAR" property="lianxifangshi" />    <result column="beizhu" jdbcType="VARCHAR" property="beizhu" />    <result column="issh" jdbcType="VARCHAR" property="issh" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shangjiahao,mima,xingming,xingbie,nianling,lianxifangshi,beizhu,issh, addtime
  </sql>
  <select id="quchongShangjiaxinxi"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from shangjiaxinxi 
    where shangjiahao = #{shangjiahao,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from shangjiaxinxi  where 1=1
    <if test="shangjiahao!=null">and shangjiahao like  concat('%',#{shangjiahao,jdbcType=VARCHAR},'%')</if>     <if test="mima!=null">and mima like  concat('%',#{mima,jdbcType=VARCHAR},'%')</if>     <if test="xingming!=null">and xingming like  concat('%',#{xingming,jdbcType=VARCHAR},'%')</if>     <if test="xingbie!=null">and xingbie like  concat('%',#{xingbie,jdbcType=VARCHAR},'%')</if>     <if test="nianling1!=null">and nianling &gt;=  concat('',#{nianling1,jdbcType=VARCHAR},'')</if>     <if test="nianling2!=null">and nianling &lt;=  concat('',#{nianling2,jdbcType=VARCHAR},'')</if>     <if test="lianxifangshi!=null">and lianxifangshi like  concat('%',#{lianxifangshi,jdbcType=VARCHAR},'%')</if>     <if test="beizhu!=null">and beizhu like  concat('%',#{beizhu,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from shangjiaxinxi  where 1=1
    <if test="shangjiahao!=null">
    and shangjiahao =#{shangjiahao}
    </if>
  </select>
  
  <select id="getsyshangjiaxinxi1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from shangjiaxinxi  where 1=1
    limit 0,5
  </select>
  <select id="getsyshangjiaxinxi2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from shangjiaxinxi  where 1=1
    limit 0,5
  </select>
  <select id="getsyshangjiaxinxi3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from shangjiaxinxi  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from shangjiaxinxi where 1=1 
     <if test="shangjiahao!=null">and shangjiahao like  concat('%',#{shangjiahao,jdbcType=VARCHAR},'%')</if>     <if test="mima!=null">and mima like  concat('%',#{mima,jdbcType=VARCHAR},'%')</if>     <if test="xingming!=null">and xingming like  concat('%',#{xingming,jdbcType=VARCHAR},'%')</if>     <if test="xingbie!=null">and xingbie like  concat('%',#{xingbie,jdbcType=VARCHAR},'%')</if>     <if test="nianling1!=null">and nianling &gt;=  concat('',#{nianling1,jdbcType=VARCHAR},'')</if>     <if test="nianling2!=null">and nianling &lt;=  concat('',#{nianling2,jdbcType=VARCHAR},'')</if>     <if test="lianxifangshi!=null">and lianxifangshi like  concat('%',#{lianxifangshi,jdbcType=VARCHAR},'%')</if>     <if test="beizhu!=null">and beizhu like  concat('%',#{beizhu,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shangjiaxinxi
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shangjiaxinxi
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Shangjiaxinxi">
    insert into shangjiaxinxi (id, shangjiahao,mima,xingming,xingbie,nianling,lianxifangshi,beizhu, addtime)
    values (#{id,jdbcType=INTEGER}, #{shangjiahao,jdbcType=VARCHAR},#{mima,jdbcType=VARCHAR},#{xingming,jdbcType=VARCHAR},#{xingbie,jdbcType=VARCHAR},#{nianling,jdbcType=VARCHAR},#{lianxifangshi,jdbcType=VARCHAR},#{beizhu,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Shangjiaxinxi">
    insert into shangjiaxinxi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shangjiahao != null"> shangjiahao, </if>      <if test="mima != null"> mima, </if>      <if test="xingming != null"> xingming, </if>      <if test="xingbie != null"> xingbie, </if>      <if test="nianling != null"> nianling, </if>      <if test="lianxifangshi != null"> lianxifangshi, </if>      <if test="beizhu != null"> beizhu, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shangjiahao != null"> #{shangjiahao,jdbcType=VARCHAR},</if>      <if test="mima != null"> #{mima,jdbcType=VARCHAR},</if>      <if test="xingming != null"> #{xingming,jdbcType=VARCHAR},</if>      <if test="xingbie != null"> #{xingbie,jdbcType=VARCHAR},</if>      <if test="nianling != null"> #{nianling,jdbcType=VARCHAR},</if>      <if test="lianxifangshi != null"> #{lianxifangshi,jdbcType=VARCHAR},</if>      <if test="beizhu != null"> #{beizhu,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Shangjiaxinxi">
    update shangjiaxinxi
    <set>
	  <if test="shangjiahao != null"> shangjiahao = #{shangjiahao,jdbcType=VARCHAR},</if>      <if test="mima != null"> mima = #{mima,jdbcType=VARCHAR},</if>      <if test="xingming != null"> xingming = #{xingming,jdbcType=VARCHAR},</if>      <if test="xingbie != null"> xingbie = #{xingbie,jdbcType=VARCHAR},</if>      <if test="nianling != null"> nianling = #{nianling,jdbcType=VARCHAR},</if>      <if test="lianxifangshi != null"> lianxifangshi = #{lianxifangshi,jdbcType=VARCHAR},</if>      <if test="beizhu != null"> beizhu = #{beizhu,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Shangjiaxinxi">
    update shangjiaxinxi
    set shangjiahao = #{shangjiahao,jdbcType=VARCHAR},mima = #{mima,jdbcType=VARCHAR},xingming = #{xingming,jdbcType=VARCHAR},xingbie = #{xingbie,jdbcType=VARCHAR},nianling = #{nianling,jdbcType=VARCHAR},lianxifangshi = #{lianxifangshi,jdbcType=VARCHAR},beizhu = #{beizhu,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
